<div class="column">
	<nav class="panel">
		<p class="panel-heading">Who to Follow</p>
	</nav>
			
		<div class="pannel-block">
			<article class="media">
			  <div class="media-left">	
		       <figure class="image is-32x32">
                <img src="https://bulma.io/images/placeholders/64x64.png">
		       </figure>
		      </div>
		       <div class="media-content">
			<div class="ontent">
				<p>
				<strong>Virliana Holovchak</strong>
				<small>@virlianka</small>
				</p>
			</div>
		</div>
	        </article>
        </div>
        <div class="pannel-block">
			<article class="media">
			  <div class="media-left">	
		       <figure class="image is-32x32">
                <img src="https://bulma.io/images/placeholders/64x64.png">
		       </figure>
		      </div>
		       <div class="media-content">
			<div class="ontent">
				<p>
				<strong>Virliana Holovchak</strong>
				<small>@virlianka</small>
				</p>
			</div>
		</div>
	        </article>
        </div>
        <div class="pannel-block">
			<article class="media">
			  <div class="media-left">	
		       <figure class="image is-32x32">
                <img src="https://bulma.io/images/placeholders/64x64.png">
		       </figure>
		      </div>
		       <div class="media-content">
			<div class="ontent">
				<p>
				<strong>Virliana Holovchak</strong>
				<small>@virlianka</small>
				</p>
			</div>
		</div>
	        </article>
        </div>
</div>